body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #2e314f;
  color: white;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.media-section {
  display: flex;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.video-box,
.carousel-box {
  flex: 1 1 700px;
  max-width: 700px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; 
}

.video-box video,
.carousel-box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 12px;
}


.video-box video {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.carousel-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-box img {
  width: 100%;
  height: auto;
  max-height: 450px;
  border-radius: 12px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #818181;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 100%;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: background 0.2s ease;
  z-index: 5;
}

.arrow:hover {
  background-color: #ffffff;
}

.arrow.prev {
  left: -1rem;
}

.arrow.next {
  right: -1rem;
}

.footer-fixed {
  background-color: white;
  color: #2e314f;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 0.95rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 900px) {
  .media-section {
    flex-direction: column;
  }

  .arrow.prev {
    left: 1rem;
  }

  .arrow.next {
    right: 1rem;
  }
}

.ver-mas {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #f5f5f5;
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.3s;
}

